@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f1f0564963af832ab733166_ProximaNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f1f0564ab5d18e0e15c5f29_ProximaNova-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f53af1bd20ccc99721fcc6c_ProximaNova-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f53af1bf5fe280f9e11746b_ProximaNova-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f53b5af9a220e4bdccf9abd_ProximaNova-Bold.otf') format('opentype'), url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f53b5af305dbc62cfdcdfb5_ProximaNova-BoldIt.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/5f5e6092eee0ea6a62aeffb8_ProximaNova-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Proximanova';
  src: url('https://assets.website-files.com/5f1918f31ce771f06c395f4d/60148676a4eae25b2cb68147_ProximaNova-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
